<%- include("./partials/header") %>

<div class="ui main text container" id="first" style="margin-top: 8.0em;">
    <div class="ui huge header">Meme Stream</div>
       <div class="ui top attached segment">
           <div class="ui divided items">
            <% memes.forEach(function(meme){ %>
   
                <div class="item">
                    <div class="content">
                        <h3>
                            <%=meme.name %>
                        </h3>
                        <div class="meta">
                            <span><%= meme.time %></span>
                        </div>
                    <div class="description">
                        <p>
                            <%=meme.caption%>
                        </p>
                        <div class="image">
                            <img src="<%=meme.url %>" width="600" height="400">
                        </div> 
                    </div>
                    
                </div>  
                        
                        
                        
                    
                    
                
                    
                
               
                    
                        
                    
                 </div>
             <% }) %>
           </div>
       </div>
</div>
